USB-C_PD_power_supply/History/
USB-C_PD_power_supply/__Previews/
USB-C_PD_power_supply/Project\ Outputs*
USB-C_PD_power_supply/Project\ Logs*
*/History/
*/__Previews/

*.TMP
*.tmp
*.Temp
*.temp
*.~*
*.$$$
*.ddb


*.OutJob
*.cam
*.rep
*.Rpt
*.log
*.LOG
*.err

*.Bak
*.bak
*.PrjPcbStructure
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbPreview

.vscode/
*.code-workspace
Thumbs.db
Desktop.ini